.chat-field{
    display:flex;
    flex: 0.65;
    flex-direction:column
}
.message-header{
    display:flex;
    align-items: center;
    padding:20px;
    border-bottom: 1px solid lightgray;
}
.header_info{
    padding-left: 20px;
    cursor: pointer;
    flex: 1;
}
.header_info >h3{
    margin-bottom: 3px;
    font-weight: 500;
}
.header_info >p{
    color: gray;
}
.message-right{
    display: flex;
    justify-content: space-between;
    min-width: 100px;
}

.message-body{
    flex: 1;
    background-image: url('https://img.freepik.com/free-photo/feather-texture-background-with-orange-light_32525-101.jpg?size=338&ext=jpg');
    background-size: cover;
    position: center;
    padding: 30px;
    overflow: scroll;
    background-repeat: no-repeat;
}
/* google chrome */
.message-body::-webkit-scrollbar{
    display: none;
}
/* for internet explore ,Edge and fire fox ,opera mini */
.message-body{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.chat-message{
    transition:transform 450ms;
    position: relative;
    font-size: 16px;
    padding: 10px;
    background-color: #97C6E3;
    border-radius: 15px;
    width: fit-content;
    margin-bottom: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}
.chat-message:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 17px solid #97C6E3;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    top: -1px;
    left: -17px;
}
.message-sender{
    position: relative;
    margin-left: auto;
    margin-bottom: 10px;
    padding: 10px;
    background-color:#008080;
    color:white;
    width: fit-content;
    height: 50px;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid 008080;
    border-radius: 10px;
}

.message-sender:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 17px solid 008080;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    top: -1px;
    left: -17px;
}
.username{
    position: absolute;
    top:-1px;
    padding-top: 2px;
     font-size:small;
     font-family: 'Times New Roman', Times, serif;
}
.time-stamp{
    margin-left: 10px;
    font-size: smaller;
    font-family: 'Times New Roman', Times, serif;
}
.chat-message:hover{
    background-color: rgba(255, 0, 128, 0.418);
    color:white;
    transform: scale(1.08);
    opacity:1;  
}
.message-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgray;
}
.message-footer >form{
    display:flex;
    flex:1
}
.message-footer >form >input{
    flex:1;
    padding: 6px;
    border-radius: 15px;
    outline-width: 0;
    border:none
}
.message-footer >form >button{
   border: 1px solid green;
   border-radius: 10px;
   margin: 5px;
  outline-width: 0;
  color: green;
  cursor: pointer;
  padding: 10px;
}
.dialogue{
    margin-left:1200px !important;
   top: 10px !important;
}
.no-lastseen{
    color: red;
    font-family: 'Times New Roman', Times, serif;
}
.last-seen{
    color:green;
    font-family: 'Times New Roman', Times, serif;
}